<h1>
  Please enter your details for our dating website!
</h1>

<form>
  <fieldset>
   <legend>Your face</legend>
   Your image: <input type="file">
   <br>
   Image preview: <img id="preview"> 
   <br>
  </fieldset>
  <fieldset>
    <legend>Your general details</legend>
    Name: <input type="text" placeholder="Your full name">
    <br>
    Gender: <input type="radio">Male <input type="radio" Female>
    <br>
    Age: <input type="number">
    <br>
    Date of birth: <input type="date">
    <br>
    Favorite color: <input type="color">
    <br>
    Which country: 
    <select>
      <option>         </option>
      <option> America  </option>
      <option> Iceland  </option>
      <option> Greenland</option>
      <option> Australia</option>
      <option> Canada   </option>
    </select>
  </fieldset>
  <fieldset>
    <legend>Your indicators:</legend>
    Height: Short <input type="range" min="0" max="100"> Tall
    Salary: Poor  <input type="range" min="0" max="100"> Rich
  </fieldset>
  <fieldset>
    <legend>
      Your contact information:
    </legend>
    Email:  <input type="email">
    Mobile: <input type="tel">
    Address:<textarea> </textarea> 
    Method to contact you: 
    <input type="checkbox"> Email
    <input type="checkbox"> WhatsApp
    <input type="checkbox"> In-app chat
  </fieldset>
 </form>