h3{
    color: #f2d4f4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px; 
    text-align: center;
  }
.mat-card{
    height: 200px;
    width: 300px;
}

.mat-card-image{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    padding-left: 35px;
    padding-right: 35px;
    align-self: right;
}

.mat-card-header{
margin-left: 25%;
margin-right: 25%;
}

.mat-card-content{
    text-align: left;
}
 label{
     padding: 5px
 }
 .information{
    height:75px;
    width: 175px;
    float:right;
    position: relative;
    bottom: 95px;
    }

    a{
        text-decoration: none;
         color: white;
      }
      button{
        position:absolute;
        bottom:0;
      }