<h3>
  Here you can find details about your tasks!
</h3>

<br>
<br>

 <mat-card>
<mat-card-header>
  <mat-card-title>
     Task 1
  </mat-card-title>
  <mat-card-subtitle>
      Internship meeting 
  </mat-card-subtitle>
  <img mat-card-image src="https://cdn3.iconfinder.com/data/icons/business-essentials-management-and-growth-1/512/8-512.png">
</mat-card-header>
<br>
<mat-card-content>
  
    <label for=""><b>Location:</b></label> <br> 
    <label for=""><b>Time:</b></label> <br>
    <label for=""><b>Contact Person:</b></label> <br>
  
</mat-card-content>

 </mat-card>